body {
  margin: 0px;
  font-family: Arial, Verdana;
   display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 100px 40px auto auto 50px;
  grid-template-areas:
      "banner banner"
      "nav nav"
      "article1 aside"
      "article2 aside"
      "footer footer";
  min-height: 100vh;
}




header {
  grid-area: banner;
}
header h1 {
  font-family: 'Comfortaa', cursive;
}
nav {
  grid-area: nav;
}
aside {
  grid-area: aside;
}
section {
  grid-area: article1;
}
article {
  grid-area: article2;
}
footer {
 grid-area: footer;
}

header,
nav,
section,
footer,
aside,
article {
  padding: 10px;
  border: solid 1px #DDD;
  box-sizing: border-box;
}


header, footer {
  text-align: left;
  background-color: #EEE;
}
aside {
  background-color: #DDD;
}