html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    /* background-color: #DDD; */
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
    position: relative;
    align-items: center;
}

#navigation-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    height: 60px;
    background: #fff;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #dfdfdf;
    /* padding-left: 20px;
    padding-right: 20px; */
    padding: 0 20px;
}

#navigation-bar h1 {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    font-weight: bolder;
    justify-content: flex-start;
}

#navigation-bar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 200px;
    font-size: 11px;
    position: relative;
}
.gibsonjack {
    margin-right: 10px;
}

/* ul, li, h1 {
    margin: 0px;
    padding: 0px;
} */

a, a:link, a:hover, a:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
  /* font-weight: bold; */
  /* padding: 5px; */
  border-bottom: solid 3px transparent;
}
a:hover{
  color: rgb(101, 36, 145);
  text-decoration: none;
  border-bottom: solid 3px rgb(101, 36, 145);
}


#home, #username, #signout {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 60px;
}

#home, #username {
    background: #f2f2f2;
}

#home {
    font-family: 'Comfortaa', cursive;
}

#recommendations-panel {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; */
}

#stories-panel {
    width: 100%;
    /* height: 122px; */
    padding: 16px 0;
    display: flex;
    justify-content: center;
    margin-top: 65px;
  
}

.wrapper {
    width: 80%;
    max-width: 1000px;
    /* display: grid; */
    grid-template-columns: 70% 30%;
    grid-gap: 30px;
}

.left-col {
    display: flex;
    flex-direction: column;
}

.status-wrapper {
    width: 100%;
    height: 80px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    padding: 10px;
    padding-right: 0;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: auto;
}

.status-wrapper::-webkit-scrollbar {
    display: none;
}

.status-card {
    flex: 0 0 auto;
    width: 55px;
    max-width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-right: 5px;

}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    padding: 3px;
    background: linear-gradient(45deg, rgb(220, 220, 220), rgb(220, 220, 220) 100%);
    /* background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%); */
}

.profile-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* border: 1px solid #fff; */
}

.username {
   width: 100%;
   overflow: hidden;
   text-align: center;
   font-size: 9px;
   margin-top: 5px;
   color:rgba(0, 0, 0, 0.5)
}

.post {
  width: 100%;
  height: 580px;
  /* min-width: 400px; */
  background: #fff;
  border: 1px solid #dfdfdf;
  margin-top: 15px;
}

/* @media only screen and (max-width: 600px) {
  section {
    width: 100%;
  } */
/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/
/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
  main {
    flex-wrap: wrap;
  }

  section {
    width: calc(50% - 20px);
  }
}

/* MobilePhone Media Query */
@media only screen and (max-width: 600px) {
  section {
    width: 100%;
  }
}

  /* .recommendation {
      display: hidden;
  } */
}
/* body {
  margin: 0px;
  font-family: Arial, Verdana;
   display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 100px 40px auto auto 50px;
  grid-template-areas:
      "banner banner"
      "nav nav"
      "article1 aside"
      "article2 aside"
      "footer footer";
  min-height: 100vh;
}




header {
  grid-area: banner;
}
header h1 {
  font-family: 'Comfortaa', cursive;
}
nav {
  grid-area: nav;
}
aside {
  grid-area: aside;
}
section {
  grid-area: article1;
}
article {
  grid-area: article2;
}
footer {
 grid-area: footer;
}

header,
nav,
section,
footer,
aside,
article {
  padding: 10px;
  border: solid 1px #DDD;
  box-sizing: border-box;
}


header, footer {
  text-align: left;
  background-color: #EEE;
}
aside {
  background-color: #DDD;
} */