<div id="recommendation-panel">
    <!-- ======================== Personal Card ======================== -->
    <!-- A circular profile pic of the current user -->
    <div id="profile-card-self">
        <div id="profile-pic-self">
            <img alt="main user's profile picture" draggable="false"
                src=" {{user.get('image_url')}} ">
        </div>
        <!-- a username of the current user -->
        <div>
            <p id="username-self">{{ user.get('username') }}</p>
        </div>
    </div>
    
    <!-- “Suggestions for you” text -->
    <div class="suggestions-for-you">Suggestions for you</div>

    <!-- =========================== Suggested Users =========================== -->
    <!-- 5 suggested accounts -->
    <div class="suggestions">
        <!-- ======================= First User Card ======================= -->
        <div class="user-profile-card">
            <div class="sug-profile-card">
                <!-- photo of a suggested account -->
                <div class="sug-prof-pic">
                    <img alt="suggested user1's profile picture" draggable="false"
                        src="{{ suggestions[0].get('image_url')}}">
                </div>
                <div class="sug-user-card">
                    <p>
                        <!-- username of a suggested account -->
                        <div class="sug-user-name">{{ suggestions[0].get('username') }}</div>
                        <!-- “suggested for you” text below the username -->
                        <div class="suggested-for-you">suggested for you</div>
                    </p>
                </div>
            </div>
            <!-- link to “follow” the user -->
            <!-- the “follow” link should be blue but not have an underline -->
            <a class="follow-action-button" href="#">follow</a>
        </div>
        <!-- ======================= Second User Card ======================= -->
        <div class="user-profile-card">
            <div class="sug-profile-card">
                <div class="sug-prof-pic">
                    <img alt="suggested user2's profile picture" draggable="false"
                        src="{{ suggestions[1].get('image_url')}}">
                </div>
                <div class="sug-user-card">
                    <p>
                    <div class="sug-user-name">{{ suggestions[1].get('username') }}</div>
                    <div class="suggested-for-you">suggested for you</div>
                    </p>
                </div>
            </div>
            <a class="follow-action-button" href="#">follow</a>
        </div>
        <!-- ======================= Third User Card ======================= -->
        <div class="user-profile-card">
            <div class="sug-profile-card">
                <div class="sug-prof-pic">
                    <img alt="suggested user3's profile picture" draggable="false"
                        src="{{ suggestions[2].get('image_url')}}">
                </div>
                <div class="sug-user-card">
                    <p>
                    <div class="sug-user-name">{{ suggestions[2].get('username') }}</div>
                    <div class="suggested-for-you">suggested for you</div>
                    </p>
                </div>
            </div>
            <a class="follow-action-button" href="#">follow</a>
        </div>
        <!-- ======================= Fourth User Card ======================= -->
        <div class="user-profile-card">
            <div class="sug-profile-card">
                <div class="sug-prof-pic">
                    <img alt="suggested user4's profile picture" draggable="false"
                        src="{{ suggestions[3].get('image_url')}}">
                </div>
                <div class="sug-user-card">
                    <p>
                    <div class="sug-user-name">{{ suggestions[3].get('username') }}</div>
                    <div class="suggested-for-you">suggested for you</div>
                    </p>
                </div>
            </div>
            <a class="follow-action-button" href="#">follow</a>
        </div>
        <!-- ======================= Fifth User Card ======================= -->
        <div class="user-profile-card">
            <div class="sug-profile-card">
                <div class="sug-prof-pic">
                    <img alt="suggested user5's profile picture" draggable="false"
                        src="{{ suggestions[4].get('image_url')}}">
                </div>
                <div class="sug-user-card">
                    <p>
                    <div class="sug-user-name">{{ suggestions[4].get('username') }}</div>
                    <div class="suggested-for-you">suggested for you</div>
                    </p>
                </div>
            </div>
            <a class="follow-action-button" href="#">follow</a>
        </div>
    </div>
</div>